.wrapperPagination {
  width: 100%;
  min-height: 100%;

  & > .paginationBlock {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 265px));
    justify-items: center;
    gap: 20px;
  }
}
