.sidebarWrapper {
  z-index: 2;
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: 220px;
}

.sidebar {
  position: sticky;
  top: 20px;
  height: 100vh;
  overflow-y: auto;
  margin-right: 20px;
  margin-top: 40px;

  & > a {
    display: block;
    line-height: 28px;
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-700);
    margin-bottom: 32px;
  }
}
